<ion-view view-title="Mijn kassa">
    <ion-content class="padding">

        <div class="list card">

            <div class="item item-avatar">
                <img src="img/identity_red.png">
                <h2>Welkom, staff!</h2>
                <p>{{method | uppercase}} kassa {{desk}}</p>
            </div>

            <div class="item">
                <img src="img/banner.png" width="100%" height="auto">
            </div>

            <div class="item item-body" ng-if="method != null">
                <div ng-if="method == 'cash'">
                    <img class="full-image" src="img/contant_betalen.jpg">
                </div>
                <div ng-if="method == 'mobile'">
                    <img class="full-image" src="img/mobiel_betalen.jpg">
                </div>
                <div ng-if="method == 'pin'">
                    <img class="full-image" src="img/pin_betalen.gif">
                </div>
            </div>

            <div class="item item-icon-left" ng-if="desk != null">
                <i class="icon ion-alert-circled"></i>
                <strong>
                    Ga naar: {{method | uppercase}} kassa {{desk}}.
                </strong>
            </div>

        </div>

    </ion-content>
</ion-view>